<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASPRAAPP"
        tools:targetApi="31">
        <activity
            android:name=".ReporteExitosoActivity"
            android:label = "@string/reporte_name"
            android:parentActivityName=".ReportarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.example.aspra_app.ReportarActivity" />
        </activity>
        <activity
            android:name=".ReportarActivity"
            android:label = "@string/home_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.example.aspra_app.MainActivity" />
        </activity>
        <activity
            android:name=".RegistrarseActivity"
            android:label = "@string/login_name"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.example.aspra_app.LoginActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label = "@string/home_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.example.aspra_app.MainActivity" />
        </activity>
        <activity
            android:name=".ContactoActivity"
            android:label = "@string/home_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=
                    "com.example.aspra_app.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label = ""
            android:theme="@style/Theme.Transparent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>